# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# IDE/editor
*.swp
.vscode/
.idea/

# Compiled files
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# Created data
captures/
.virtual*

# Miscellaneous macOS AppleDouble files
.DS_Store
._*
